.item-card {
  scroll-snap-align: start;
  background-color: var(--color-primary);
  height: calc(calc(100vh - var(--header-height)) / var(--list-item-count-vertical-lg));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px var(--color-highlight) solid;
}

.item-name {
  font-size: 1.25em;
  font-family: var(--font-family-title), cursive;
}

.item-rating {
  font-size: 1.25em;
}

.item-card:hover {
  background: linear-gradient(to left, var(--color-primary), var(--color-secondary));
}

.item-card.active {
  background: linear-gradient(to left, var(--color-highlight), var(--color-secondary));
}

.item-card.active .item-name {
  display: none;
}

.item-card.active .item-rating {
  font-size: 1.25em;
}

@media screen and (max-width: 768px) {
  .item-card {
    min-width: calc(100vw / var(--list-item-count-horizontal-md));
    height: calc(1.25 * var(--header-height));
    border-right: 1px var(--color-highlight) solid;
  }

  .item-name {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 380px) {
  .item-card {
    min-width: calc(100vw / var(--list-item-count-horizontal-sm));
  }

  .item-name {
    font-size: 1.1em;
  }
}

@media screen and (max-height: 768px) {
  .item-card {
    height: calc(calc(100vh - var(--header-height)) / var(--list-item-count-vertical-md));
  }
}

@media screen and (max-height: 380px) {
  .item-card {
    height: calc(calc(100vh - var(--header-height)) / var(--list-item-count-vertical-sm));
  }
}
